<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Alphas | #{pageTitle}
        link(rel="stylesheet" href="/css/fontstyle.css")
        //- link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/css/layout.css")

        
    body
        div#menu
            div.logo-cont
                div Alphas
                    span.blue .
            nav
                div.inner
                    div.nav-button-cont
                        div.animatebars
                        div.animatebars
                    ul              
                        li 
                            a(href = "/recruits" ) Recruits
                        li 
                            a(href = "/" ) Form
                        li 
                            a(href = "#work" ) Work
                        li.contact-us 
                            a(href = "#contact") Contact Us
        
        block content
        footer
            p Alphas Copyright &copy; 2019
        
        script(src="/js/layout.js")
                
