* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "montserrat-regular";
  -webkit-transition: 0.32s cubic-bezier(0.03, 0.79, 0.43, 1.5);
  transition: 0.32s cubic-bezier(0.03, 0.79, 0.43, 1.5);
  color: var(--text);
}

*::after, *::before {
  -webkit-transition: 0.42s cubic-bezier(0.03, 0.79, 0.43, 1.5);
  transition: 0.42s cubic-bezier(0.03, 0.79, 0.43, 1.5);
}

:root {
  --bg: #fff;
  --inverse-bg: #28282f;
  --inverse-text: #f5f8fa;
  --footer-bg: #ffff;
  --body-bg: #f5f8fa;
  --logo: #28282f;
  --logo-shadow: #d1dae0;
  --contact-bg: #1da1f2;
  --contact-shadow: 8px 6px 32px rgba(29, 160, 242, 0.349);
  --contact-text: #f9fafb;
  --link-color: #1da1f2;
  --link-color-hover: #91b1ee;
  --text: #5e697b;
  --inverse-bg: #28282f;
  --inverse-text: #28282f;
  --body-bg: #232329;
  --logo: #1da1f2;
  --logo-shadow: #232329;
  --footer-bg: #3b3b43;
  --bg: #28282f;
  --contact-bg: #1da1f2;
  --contact-shadow: 8px 6px 32px rgba(29, 160, 242, 0.349);
  --contact-text: #f9fafb;
  --link-color: #1da1f2;
  --link-color-hover: #91b1ee;
  --text: #f5f8fa;
}

body {
  background: var(--body-bg);
}

a {
  text-decoration: none;
  color: var(--link-color);
  -webkit-transition: 0.42s cubic-bezier(0.03, 0.79, 0.43, 1.5);
  transition: 0.42s cubic-bezier(0.03, 0.79, 0.43, 1.5);
}

a:hover {
  color: var(--link-color-hover);
}

.btn {
  padding: 0.35rem  0.55rem;
  margin: 0.35rem;
  background: var(--bg);
  border-radius: 0.35rem;
}

.btn-default {
  border: 2px solid;
  border-radius: 0.3rem;
  border-color: rgba(0, 0, 0, 0.125);
}

.btn-default:hover {
  background: rgba(0, 0, 0, 0.1);
}

#menu {
  width: 100%;
  height: 64px;
  position: relative;
  z-index: 4;
  font-weight: 600;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: var(--bg);
}

#menu .logo-cont {
  width: 30%;
  position: relative;
  float: left;
  height: 100%;
  -webkit-transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#menu .logo-cont div {
  position: absolute;
  height: 100%;
  width: 64px;
  top: 50%;
  left: 50%;
  color: var(--text);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 26px;
  font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#menu .logo-cont div svg {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#menu .logo-cont div svg .a_1 {
  opacity: 1;
  fill: var(--logo);
  fill-opacity: 1;
  stroke: var(--body-bg);
  stroke-width: 2.47638321;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 166.29920959;
  stroke-opacity: 1;
}

#menu .logo-cont div svg .a_2 {
  opacity: 1;
  fill: var(--logo-shadow);
  fill-opacity: 1;
  stroke: var(--logo);
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 166.29920959;
  stroke-opacity: 1;
}

#menu .logo-cont div svg .a_3 {
  opacity: 1;
  fill: var(--footer-bg);
  fill-opacity: 1;
  stroke: var(--body-bg);
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 166.29920959;
  stroke-opacity: 1;
}

#menu nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: none;
}

#menu nav .inner {
  width: 100%;
  height: 100%;
  background: var(--bg);
  -webkit-clip-path: circle(15% at 100% 0%);
          clip-path: circle(15% at 100% 0%);
  pointer-events: none;
  -webkit-transition: 0.86s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.86s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#menu nav ul {
  width: 100%;
  padding: 1em;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-bottom: 0;
}

#menu nav ul li {
  margin: 12% 7%;
  color: var(--text);
  font-size: 36px;
  list-style-type: none;
}

#menu nav ul li a {
  text-decoration: none;
  color: var(--text);
}

#menu nav ul li.contact-us {
  background: var(--contact-bg);
  width: 270px;
  padding: 6px 12px;
  border-radius: 36px;
  margin: 0 auto;
  -webkit-box-shadow: var(--contact-shadow);
          box-shadow: var(--contact-shadow);
}

#menu nav ul li.contact-us a {
  color: var(--contact-text);
}

@media screen and (min-width: 700px) {
  #menu nav {
    width: 70%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    float: left;
    pointer-events: all;
  }
  #menu nav .inner {
    width: 100%;
    height: 100%;
    background: transparent;
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
    pointer-events: all;
  }
  #menu nav ul {
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #menu nav ul li {
    display: inline;
    font-size: 16px;
    color: var(--text);
  }
  #menu nav ul li.contact-us {
    width: unset;
  }
}

#menu .nav-button-cont {
  position: absolute;
  top: 6px;
  left: calc(100%);
  -webkit-transform: translate(-110%, 0%);
          transform: translate(-110%, 0%);
  width: 40px;
  height: 40px;
  pointer-events: all;
  z-index: 999;
}

#menu .nav-button-cont div {
  height: 2px;
  margin: 17px 0;
  width: 100%;
  -webkit-transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: #5e697b;
}

#menu .nav-button-cont div:nth-of-type(1) {
  -webkit-transform: translate(0px, 0px) rotateZ(-45deg);
          transform: translate(0px, 0px) rotateZ(-45deg);
  width: 100%;
}

#menu .nav-button-cont div:nth-of-type(2) {
  -webkit-transform: translate(0px, -20px) rotateZ(45deg);
          transform: translate(0px, -20px) rotateZ(45deg);
}

.animatebars:nth-of-type(1) {
  -webkit-transform: translate(-5px, 0px) rotateZ(0deg) !important;
          transform: translate(-5px, 0px) rotateZ(0deg) !important;
  width: 70% !important;
  margin: 6px 0 !important;
}

.animatebars:nth-of-type(2) {
  -webkit-transform: translate(-5px, 8px) rotateZ(0deg) !important;
          transform: translate(-5px, 8px) rotateZ(0deg) !important;
  margin: 6px 0 !important;
}

.shownav {
  -webkit-clip-path: circle(100% at 50% 50%) !important;
          clip-path: circle(100% at 50% 50%) !important;
  pointer-events: all !important;
}

@media screen and (min-width: 700px) {
  .nav-button-cont {
    display: none;
  }
}

.sticky {
  position: fixed !important;
  top: 0;
  -webkit-transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation: bringdown 1s ease-in;
          animation: bringdown 1s ease-in;
  -webkit-box-shadow: 18px 0 28px rgba(0, 0, 0, 0.225);
          box-shadow: 18px 0 28px rgba(0, 0, 0, 0.225);
}

@-webkit-keyframes bringdown {
  0% {
    top: -74px;
  }
  100% {
    top: 0;
  }
}

@keyframes bringdown {
  0% {
    top: -74px;
  }
  100% {
    top: 0;
  }
}

.margin-top {
  margin-top: 6%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

#mode {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  background: var(--inverse-bg);
  color: var(--inverse-text);
  border: 2px solid;
  border-radius: 0.3rem;
  border-color: rgba(0, 0, 0, 0.125);
  padding: 1em 1.25em;
  z-index: 1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.082);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.082);
  outline: none;
  -webkit-transition: 0.64s cubic-bezier(0.455, 0.03, 0.515, 1.155);
  transition: 0.64s cubic-bezier(0.455, 0.03, 0.515, 1.155);
}

#mode::after {
  content: "";
  position: absolute;
  background: var(--inverse-bg);
  color: var(--inverse-text);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.125);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.125);
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.125);
  top: 50%;
  left: 0;
  -webkit-transform: translate(-150%, -50%);
          transform: translate(-150%, -50%);
}

#mode:hover {
  -webkit-transform: translate(-6px, -50%);
          transform: translate(-6px, -50%);
}

.mode-out {
  -webkit-transform: translate(-6px, -50%) !important;
          transform: translate(-6px, -50%) !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  margin: 0.85em 1em;
}

.cont {
  padding: 1em;
}

.caps {
  text-transform: capitalize;
}

.list-group {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 0.25rem;
  margin-bottom: -1px;
  border-radius: 0.55rem;
  background-color: var(--bg);
  margin: 1em;
  -webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0);
          box-shadow: 6px 6px 10px rgba(0, 0, 0, 0);
  -webkit-transition: 0.62s cubic-bezier(0.03, 0.79, 0.43, 1.5);
  transition: 0.62s cubic-bezier(0.03, 0.79, 0.43, 1.5);
}

.list-group-item div.variable::after {
  content: "";
  width: 1.5px;
  height: 100%;
  -webkit-transform: translate(1.25em, -50%);
          transform: translate(1.25em, -50%);
  background: rgba(0, 0, 0, 0.12);
  top: 50%;
  position: absolute;
}

.list-group-item p {
  display: inline;
  padding: 0 1rem;
}

.list-group-item a {
  display: inline;
  float: right;
  padding: 0 1rem;
}

.list-group-item:hover {
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.actions-sect {
  width: 100%;
  padding: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer {
  margin-top: 1em;
  width: 100%;
  position: relative;
  bottom: 0;
  background: var(--footer-bg);
}

footer p {
  padding: 1em;
  margin-bottom: 0;
}

.margin-top {
  margin-top: 8%;
}

.body-cont {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(30deg, rgba(39, 113, 243, 0.071), rgba(135, 143, 156, 0.071));
}

.body-cont .thanks-cont {
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 1em;
  background: var(--bg);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 32px rgba(232, 240, 254, 0.466);
          box-shadow: 0 0 32px rgba(232, 240, 254, 0.466);
}

.body-cont .thanks-cont h1 {
  padding: 24px;
}

.body-cont .thanks-cont p {
  padding: 16px 24px;
}

.var-data-cont {
  border: 2px solid rgba(135, 145, 154, 0.125);
  position: relative;
}

.var-data-cont div {
  position: relative;
  float: left;
  padding: 0 1.5rem;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.var-data-cont .variable {
  max-width: calc(30% - 2.25rem);
}

.var-data-cont .data {
  max-width: calc(70% - 2.25rem);
}

#delete {
  border: 2px solid;
  border-radius: 0.3rem;
  border-color: #d59090;
  color: #d59090;
}

.form-cont {
  width: 96%;
  margin: auto;
  background: var(--bg);
  border-radius: 0.85rem;
  font-size: 100;
}

#edit-form {
  padding: 1em;
}

#edit-form .sect {
  margin: 1.75em 0;
  padding: 0.1rem 0rem;
}

#edit-form .sect .sect-block {
  width: 86%;
  height: 50px;
  margin: 1em auto;
  position: relative;
}

#edit-form .sect .sect-block input {
  width: 100%;
  height: 100%;
  padding: 0px 0 0 8px;
  border: 2px solid;
  border-radius: 0.3rem;
  border-color: rgba(0, 0, 0, 0.125);
  font-size: 16px;
  background: var(--bg);
  outline: none;
}

#edit-form .sect .sect-block input:focus, #edit-form .sect .sect-block input:valid {
  border-color: #5b8dcf;
}

#edit-form .sect .sect-block input:focus + label span, #edit-form .sect .sect-block input:valid + label span {
  -webkit-transform: translate(6px, -50%);
          transform: translate(6px, -50%);
  color: #5b8dcf;
}

#edit-form .sect .sect-block label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#edit-form .sect .sect-block label span {
  position: absolute;
  padding: 2px 6px;
  bottom: 50%;
  background: var(--bg);
  -webkit-transform: translate(2px, 50%);
          transform: translate(2px, 50%);
}
/*# sourceMappingURL=layout.css.map */